* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

.main-layout {
  background: #0b1c24;
  background-size: 200% 200%;
  filter: contrast(120%) brightness(105%);
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo {
    color: white;
    cursor: pointer;
    margin-top: 0.5%;
    text-decoration: none;
    font-size: 50px;
    letter-spacing: 3px;
    outline: none;
}

.welcome {
    color: #3a7ca5;
    cursor: pointer;
    margin-top: 0.5%;
    font-size: 20px;
    margin: 2% 0;
}

.form {
    margin: auto auto;
    padding: 1% 5%;

    width: 40%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-input {
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 100%;
}

.form-input label {
    color: white;
}

.form-input input {
    width: 100%;
    padding: 10px;

    color: white;
    background-color: transparent;
    border: 1px solid gray;
}

.sign-button {
  background: none;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.3s;

  width: 80%;
  padding: 5px;

  /* background-color: red; */

  font-size: 30px;
}

.sign-button:hover {
  filter: blur(2px);
}

.change-button {
  background-color: transparent;
  color: #3a7ca5;
  border: none;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.blob {
  position: absolute;
  width: 500px;
  height: 500px;
  background: radial-gradient(circle, #6bbcff, transparent 60%);
  filter: blur(120px);
  opacity: 0.7;
}

.blob:nth-child(1) {
  top: 7%;
  left: 17%;
}

.blob:nth-child(2) {
  top: 30%;
  left: 60%;
  background: radial-gradient(circle, #3a7ca5, transparent 60%);
}