* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

.main-layout{
  background: #0b1c24;
  filter: contrast(120%) brightness(105%);
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.horizontal-line {
    height: 1px;
    background-color: gray;
    width: 100%;
    margin: 10px 0px;
}

.jobs-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    width: 55%;
    padding: 1%;
    border: 1px solid gray;

    margin: 5% auto;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.blob {
  position: absolute;
  width: 500px;
  height: 500px;
  background: radial-gradient(circle, #6bbcff, transparent 60%);
  filter: blur(120px);
  opacity: 0.7;
}

.blob:nth-child(1) {
  top: 7%;
  left: 17%;
}

.blob:nth-child(2) {
  top: 30%;
  left: 60%;
  background: radial-gradient(circle, #3a7ca5, transparent 60%);
}

.user-name {
  color: white;
  font-size: 40px;

  display: block;
  margin: 30px 5%;
}