.main-layout[b-9lxehzj3ur] {
    padding: 20px 26px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    width: 90%;
}

.header[b-9lxehzj3ur] {
    color: white;
}

.first-block[b-9lxehzj3ur] {
    width: 100%;
    object-fit: cover;
}

.find-button[b-9lxehzj3ur] {
    color: blue;
}

.find-button:hover[b-9lxehzj3ur] {
    filter: blur(2px);
}

.string[b-9lxehzj3ur] {
    display: flex;
    gap: 8px;
}

.stroke[b-9lxehzj3ur] {
    margin-top: 20px;
    border: 2px dashed gray;
    border-radius: 8px;
    padding: 16px;

    display: flex;
    justify-content: center;
}

.hidden-input[b-9lxehzj3ur] {
    display: none;
}