.main-layout[b-7boko47871] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 1000px;
}

.main-layout a[b-7boko47871], h1[b-7boko47871] {
    color: white;
    font-size: 30px;

    padding: 0px 10px;
    margin: 0;

    text-decoration: none;
    outline: none;

    cursor: pointer;
}

.main-layout label[b-7boko47871] {
    color: white;
    font-size: 20px;
}

.job-number[b-7boko47871] {
    display: flex;
    flex-direction: column;
}

.status[b-7boko47871] {
    display: flex;
    flex-direction: column;

    width: 25%;
}