.main-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    gap: 40px;
}

.main-layout a, h1 {
    color: white;
    font-size: 30px;

    padding: 0px 10px;
    margin: 0;

    text-decoration: none;
    outline: none;

    cursor: pointer;
}

.main-layout label {
    color: white;
    font-size: 20px;
}

.job-number {
    display: flex;
    flex-direction: column;
}