.main-layout[b-rhhr4jdf3k] {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    gap: 40px;
}

.main-layout a[b-rhhr4jdf3k], h1[b-rhhr4jdf3k] {
    color: white;
    font-size: 30px;

    padding: 0px 10px;
    margin: 0;

    text-decoration: none;
    outline: none;

    cursor: pointer;
}

.main-layout label[b-rhhr4jdf3k] {
    color: white;
    font-size: 20px;
}

.job-number[b-rhhr4jdf3k] {
    display: flex;
    flex-direction: column;
}