/* /Components/Navbar.razor.rz.scp.css */
.navbar[b-59c368j4i9] {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 95%;
    margin: 0 auto;
}

.logo[b-59c368j4i9] {
    color: white;
    cursor: pointer;
    margin-top: 0.5%;
    text-decoration: none;
    font-size: 40px;
    /* background: red; */
}

.right-button[b-59c368j4i9] {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 0;
    cursor: pointer;
}

.right-button:hover[b-59c368j4i9] {
    filter: blur(2px);
}

.right-block[b-59c368j4i9] {
    display: flex;
    align-items: center; 
    gap: 25px;
    margin-top: 1.5%;
    /* background: red; */
}

.central-block[b-59c368j4i9] {
    display: flex;
    align-items: center; 
    gap: 25px;
    margin-top: 1.5%;
}

.central-button[b-59c368j4i9] {
    color: white;
    font-size: 20px;
    padding-right: 20px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 0;
    text-decoration: none;
    outline: none;
}

.central-button[b-59c368j4i9]::after {
  content: ""; 
  display: inline-block;
  margin-left: 10px;
  width: 8px; 
  height: 8px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(45deg);
  vertical-align: middle;
  transition: transform 0.3s ease;
}

.central-button:hover[b-59c368j4i9] {
    filter: blur(2px);
}
/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-ssf960r876] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-ssf960r876] {
    flex: 1;
}
/* /Pages/Home.razor.rz.scp.css */
*[b-lh04ljfz7z] {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

.first-block[b-lh04ljfz7z] {
  background: #0b1c24;
  filter: contrast(120%) brightness(105%);
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.bg[b-lh04ljfz7z] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.blob[b-lh04ljfz7z] {
  position: absolute;
  width: 500px;
  height: 500px;
  background: radial-gradient(circle, #6bbcff, transparent 60%);
  filter: blur(120px);
  opacity: 0.7;
}

.blob:nth-child(1)[b-lh04ljfz7z] {
  top: 7%;
  left: 17%;
}

.blob:nth-child(2)[b-lh04ljfz7z] {
  top: 30%;
  left: 60%;
  background: radial-gradient(circle, #3a7ca5, transparent 60%);
}

.quote[b-lh04ljfz7z] {
  padding-top: 10%;
  padding-bottom: 9%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-words[b-lh04ljfz7z] {
  display: flex;
  gap: 10px;
}

.first-words-1[b-lh04ljfz7z] {
  color: #33759f;
  font-size: 60px;
  filter: blur(2px);
}

.first-words-2[b-lh04ljfz7z] {
  color: #33759f;
  font-size: 60px;
}

.second-words[b-lh04ljfz7z] {
  color: white;
  font-size: 20px;
  
}

.third-words[b-lh04ljfz7z] {
  margin-top: 5%;
  color: white;
  font-size: 30px;
}

.marquee[b-lh04ljfz7z] {
  padding: 1%;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}

.marquee-content[b-lh04ljfz7z] {
  display: flex;
  width: max-content;
  animation: marquee-b-lh04ljfz7z 20s linear infinite;
}

.marquee-content span[b-lh04ljfz7z] {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 150px;
  width: 210px;
  color: gray;
  font-size: 20px;
  white-space: normal;
}

@keyframes marquee-b-lh04ljfz7z {
  0%   { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}
/* /Pages/Login.razor.rz.scp.css */
*[b-6gfke9n9g9] {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

.main-layout[b-6gfke9n9g9] {
  background: #0b1c24;
  background-size: 200% 200%;
  filter: contrast(120%) brightness(105%);
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo[b-6gfke9n9g9] {
    color: white;
    cursor: pointer;
    margin-top: 0.5%;
    text-decoration: none;
    font-size: 50px;
    letter-spacing: 3px;
    outline: none;
}

.welcome[b-6gfke9n9g9] {
    color: #3a7ca5;
    cursor: pointer;
    margin-top: 0.5%;
    font-size: 20px;
    margin: 2% 0;
}

.form[b-6gfke9n9g9] {
    margin: auto auto;
    padding: 1% 5%;

    width: 40%;

    display: flex;
    flex-direction: column;
    align-items: center;

    backdrop-filter: blur(25px);
    border-radius: 20px;
}

.greeting[b-6gfke9n9g9] {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-input[b-6gfke9n9g9] {
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 100%;
}

.form-input label[b-6gfke9n9g9] {
    color: white;
}

.form-input input[b-6gfke9n9g9] {
    width: 100%;
    padding: 10px;

    color: white;
    background-color: transparent;
    border: 1px solid gray;
}

.sign-button[b-6gfke9n9g9] {
  background: none;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.3s;

  width: 60%;
  padding: 5px;

  font-size: 30px;
}

.sign-button:hover[b-6gfke9n9g9] {
  filter: blur(2px);
}

.change-button[b-6gfke9n9g9] {
  background-color: transparent;
  color: #3a7ca5;
  border: none;
}

.bg[b-6gfke9n9g9] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.blob[b-6gfke9n9g9] {
  position: absolute;
  width: 500px;
  height: 500px;
  background: radial-gradient(circle, #6bbcff, transparent 60%);
  filter: blur(120px);
  opacity: 0.7;
}

.blob:nth-child(1)[b-6gfke9n9g9] {
  top: 7%;
  left: 17%;
}

.blob:nth-child(2)[b-6gfke9n9g9] {
  top: 30%;
  left: 60%;
  background: radial-gradient(circle, #3a7ca5, transparent 60%);
}
