*[b-bhwwqaz8tz] {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

.first-block[b-bhwwqaz8tz] {
  background: #0b1c24;
  filter: contrast(120%) brightness(105%);
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.bg[b-bhwwqaz8tz] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.blob[b-bhwwqaz8tz] {
  position: absolute;
  width: 500px;
  height: 500px;
  background: radial-gradient(circle, #6bbcff, transparent 60%);
  filter: blur(120px);
  opacity: 0.7;
}

.blob:nth-child(1)[b-bhwwqaz8tz] {
  top: 7%;
  left: 17%;
}

.blob:nth-child(2)[b-bhwwqaz8tz] {
  top: 30%;
  left: 60%;
  background: radial-gradient(circle, #3a7ca5, transparent 60%);
}

.quote[b-bhwwqaz8tz] {
  padding-top: 10%;
  padding-bottom: 9%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-words[b-bhwwqaz8tz] {
  display: flex;
  gap: 10px;
}

.first-words-1[b-bhwwqaz8tz] {
  color: #33759f;
  font-size: 60px;
  filter: blur(2px);
}

.first-words-2[b-bhwwqaz8tz] {
  color: #33759f;
  font-size: 60px;
}

.second-words[b-bhwwqaz8tz] {
  color: white;
  font-size: 20px;
  
}

.third-words[b-bhwwqaz8tz] {
  margin-top: 5%;
  color: white;
  font-size: 30px;
}

.marquee[b-bhwwqaz8tz] {
  padding: 1%;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}

.marquee-content[b-bhwwqaz8tz] {
  display: flex;
  width: max-content;
  animation: marquee-b-bhwwqaz8tz 20s linear infinite;
}

.marquee-content span[b-bhwwqaz8tz] {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 150px;
  width: 210px;
  color: gray;
  font-size: 20px;
  white-space: normal;
}

@keyframes marquee-b-bhwwqaz8tz {
  0%   { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}
