* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

.main-layout{
  background: #0b1c24;
  filter: contrast(120%) brightness(105%);
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.main-layout h1 {
    color: white;
    margin: 20px;
}

.graphics-container {
    margin: 20px auto;

    display: flex;
    flex-direction: row;

    width: 95%;

    gap: 20px;
}

.graphics-container div {
    background-color: white;
    width: 50%;
    height: 500px;
}