* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

.main-layout {
  background: #0b1c24;
  filter: contrast(120%) brightness(105%);
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.status {
  color: white;
  letter-spacing: 3px;
  margin: auto auto;
}